<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ethereal.springboot.mapper.RoleMapper">
  <resultMap id="BaseResultMap" type="com.ethereal.springboot.model.Role">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="CHAR" property="name" />
    <result column="code" jdbcType="CHAR" property="code" />
  </resultMap>
  <sql id="Base_Column_List">
    id, `name`, `code`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByUsername" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List" />
    from sys_role where id in (select role_id from sys_user
    where username = #{username,jdbcType=CHAR})
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ethereal.springboot.model.Role">
    insert into sys_role (id, `name`, `code` )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=CHAR}, #{code,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ethereal.springboot.model.Role">
    insert into sys_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="code != null">
        `code`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=CHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ethereal.springboot.model.Role">
    update sys_role
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=CHAR},
      </if>
      <if test="code != null">
        `code` = #{code,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ethereal.springboot.model.Role">
    update sys_role
    set `name` = #{name,jdbcType=CHAR},
        `code` = #{code,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>